<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="jumbotron">
  <h1 class="display-4">About</h1>
  <p class="lead">
    AspireTM is an industry-promoted, award-winning social enterprise in India, focused on Employability, Entrepreneurship & Leadership education for schools, colleges and universities. Aspire’s education products include Global Content and Certifications: RoboticProTMwith CMAsia, Singapore;. Founded by Amit Bhatia in 2007, Aspire has trained over 63,000 students across 100 institutions in 16 Indian states since inception. Declared “Education Czar” by Mint (2008); profiled as “Who’s Next” by Fast Company (USA, 2011); adjudged Winner of the John P. McNulty prize in 2012; recognized as “Young Turk” by CNBC (2012); and, featured by Business Today amongst “66 Reasons to Keep Your Faith in India” in their 21st Anniversary Issue in January 2013; Aspire enables Educators, Employers and Employees to Grow More.
  </p>
</div>


<div class="container">
    <div class="letter">
        <h1 style="display: inline">A</h1>
        <span>dvantage</span>
        <p> Our people, product and services will deliver an enduring competitive edge to our candidates and customers. We will call this “Advantage Aspire”. </p>
    </div>

    <div class="letter">
        <h1 style="display: inline">S</h1>
        <span>peed</span>
        <p>
            We will have a maniacal sense of urgency in building Aspire, including responding to customers and candidates, market expansion, responding to internal & external communications etc.
        </p>
    </div>

    <div class="letter">
        <h1 style="display: inline">P</h1>
        <span>assion</span>
        <p>Aspire is a mission, not a job. We, all partners at the firm, will serve candidates and customers from the heart, because we want India Employed.</p>
    </div>

    <div class="letter">
        <h1 style="display: inline">I</h1>
        <span>ntegrity</span>
        <p>An initiative with a noble purpose can rest only on a foundation of honesty and integrity. Nothing should ever supersede business ethics neither revenues nor profits.</p>
    </div>

    <div class="letter">
        <h1 style="display: inline">R</h1>
        <span>espect for people</span>
        <p>We are in a ‘people’ business, dealing with aspiring Candidates, valuable customers and worthy peers. We will always demonstrate highest levels of respect and empathy for all individuals.</p>
    </div>

    <div class="letter">
        <h1 style="display: inline">E</h1>
        <span>xcellence</span>
        <p>We will deliver the highest quality- at all times, to all constituencies, especially shareholders in everything we do through unwavering focus, global benchmarks, scalable processes, technology and an eye for detail.</p>
    </div>

</div>
<%- include('partials/footer') %>
